<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.purewhite.ywc.frame1">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    //相机权限
    <uses-permission android:name="android.permission.CAMERA"/>
    //写入权限
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    //读写权限
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>



    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:name=".app.BaseApp"
        android:theme="@style/AppTheme">

        <provider
            android:authorities="android."
            android:name="android.support.v4.content.FileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/">
            </meta-data>
        </provider>

        <!-- 启动页 -->
        <activity android:name=".ui.activity.start.StartActivity"
            android:theme="@style/StartTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- 首页 -->
        <activity android:name=".ui.activity.MainActivity"/>
        <!-- 自定义首页 -->
        <activity android:name=".ui.activity.mine.CustomMainActivity"/>
        <!-- dialog页面 -->
        <activity android:name=".ui.activity.mine.DialogActivity"/>
        <!-- 获取图片 -->
        <activity android:name=".ui.activity.mine.CameraActivity"/>
        <!-- android学习页面 -->
        <activity android:name=".ui.activity.mine.AndroidStudyActivity"/>
        <!-- web -->
        <activity android:name=".ui.activity.mine.WebActivity"/>


        <!--  android:permission=""  -->
        <service android:name=".ui.service.ProtectService"
            android:permission="android.permission.BIND_JOB_SERVICE">

        </service>

        <service android:name=".ui.service.RunService"
            android:process=":run"></service>
    </application>

</manifest>