<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.purewhite.ywc.frame1">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:name=".app.BaseApp"
        android:theme="@style/AppTheme">
        //启动页
        <activity android:name=".ui.activity.StartActivity"
            android:theme="@style/StartTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- 首页 -->
        <activity android:name=".ui.activity.MainActivity"></activity>
        <!-- 自定义首页 -->
        <activity android:name=".ui.activity.start.CustomMainActivity"/>
    </application>

</manifest>